html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
} 

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	padding: 20px 0;
	background-color: #fff;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {

}

.nav {
	margin-right: 15px;
}

.nav__link {
	padding: 10px 20px;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 13px.5;
	color: #868686;
	text-transform: uppercase;
	text-decoration: none;
}

.nav__link:hover {
	color: #fff;
	background-color: #ffbb42;
	padding: 10px 20px;
}

.boost {
	background-color: #709dca;
	width: 100%;
	height: 590px;
	padding-top: 110px;
	position: relative;
}

.boost__text {
	text-align: center;
}

.boost__title{
	font-family: 'Gotham', sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	line-height: 24px;
}

.boost__suptitle{
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
}

.boost__contact {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	padding: 0 40px ;
}

.boost__name {
	width: 26%;
	height: 45px;
	padding: 15px 40px;
	border: 1px solid #fff;
	border-radius: 2px;
	font-size: 13px;
	color: #a9a9a9;
	background: url("../assets/images/boost/1.png") no-repeat left;
	background-position-x: 15px;
	background-color: #fff;
}

.boost__email {
	width: 26%;
	height: 45px;
	padding: 15px 40px;
	border: 1px solid #fff;
	border-radius: 2px;
	font-size: 13px;
	color: #a9a9a9;
	background: url("../assets/images/boost/2.png") no-repeat left;
	background-position-x: 15px;
	background-color: #fff;
}

.boost__tel {
	width: 26%;
	height: 45px;
	padding: 15px 40px;
	border: 1px solid #fff;
	border-radius: 2px;
	font-size: 13px;
	color: #a9a9a9;
	background: url("../assets/images/boost/3.png") no-repeat left;
	background-position-x: 15px;
	background-color: #fff;
}

.boost__btn {
	width: 20%;
	height: 45px;
	padding: 15px 40px;
	border: 1px solid #ffbb42;
	border-radius: 2px;
	font-size: 13px;
	color: #fff;
	background-color: #ffbb42;
}

.boost__image {
	position: absolute;
	left: 600px;
	bottom: -67px;
}

.section__services {
	margin-top: 210px;
}

.services__header {
	text-align: center;
}

.services__title {
	color: #333;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 25px;
}

.services__text {
	color: #333;
	font-size: 20px;
	margin-bottom: 85px;
}

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services__item {
	width: 45%;
	position: relative;
	margin-bottom: 80px;
}

.services__icon{
	position: absolute;
	left: 0;
	top: 2px;
}

.services__item__wrapper {
	margin-left: 80px;
}

.services__item__title {
	color: #394b50;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}

.services__item__text {
	color: #7b7b7b;
	font-family: 'Myriad-Pro', sans-serif;
	font-size: 14px;
	line-height: 22px;
}


.about {
	display: flex;
}

.about__image {
	width: 50%;
}

.about__content	{
	width: 65%;
	background-color: #ffc155;
	padding: 160px 260px 170px 75px;
}

.about__title {
	font-family: 'Gotham', sans-serif;
	font-size: 30px;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.about__text {
	font-family: 'Myriad-Pro', sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 60px;
}

.about__btn {
	width: 100%;
	max-width: 145px;
	padding: 15px 30px;
	border: 1px solid #e7ad48;
	border-radius: 2px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.about__btn a {
	text-decoration: none;
	color: #fff;
}

.section--gray {
	background-color: #e7edf3;
	padding-top: 130px;
	padding-bottom: 190px;
}

.section--white {
	background-color: #fff;
}

.section--yellow {
	background-color: #ffc155;
	padding: 140px 0 150px 0;
}

.price__header {
	text-align: center;
	margin-bottom: 80px;
}

.price__title {
	color: #394b50;
	font-family: 'Gotham', sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 5px;
}

.price__text {
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #75888d;
}

.plan {
	display: flex;
	background-color: #fff;
}

.plan__item {
	flex: 1 1 0;
	max-height: 508px;
	padding: 50px 100px;
	text-align: center;
	border-right: 2px solid #e7edf3;
	position: relative;
}

.plan__item:hover {
	background-color: #709dca;
	color: #fff;
}

.plan__item:hover div {
	background-color: #709dca;
	color: #fff;
}


.plan__title {
	color: #818b95;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 25px;
	line-height: 22px;
	margin-bottom: 25px;
}

.plan__price {
	color: #b5bbc1;
	font-family: 'Lato', sans-serif;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 40px;
}

.plan__dollar {
	color: #ffbb42;
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 22px;
}

.dollar {
	font-size: 30px;
	vertical-align: 20px;
}

hr {
	color: #e2e9f0;
}

.plan__details {
	color: #b5bbc1;
	font-family: 'Lato', sans-serif;
	font-size: 13.5px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 40px;
}

.plan__btn {
	margin: 0 auto;
	max-width: 131px;
	padding: 15px;
	border: 1px solid #ffbb42;
	border-radius: 2px;
	background-color: #ffbb42;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.plan__btn a{
	color: #fff;
	text-decoration: none;
}

/*Work*/

.work__header {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 105px;
}

.work__title {
	color: #394b50;
	font-family: 'Gotham', sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 5px;
}

.work__text {
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #75888d;
}

.work {
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}

.work__item {
	width: 18%;
	text-align: center;
	position: relative;
}


.work__icon {
	margin-bottom: 95px;
}

.work__step {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	color: #394b50;
	margin-bottom: 25px;
}

.work__description {
	font-family: 'Myriad-Pro', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 22px;
	color: #7b7b7b;
}

.arrow_up1 {
	position: absolute;
	left: 200px;
	top: -30px;
}

.arrow_up2 {
	position: absolute;
	right: 200px;
	top: -30px;
}

.arrow_under {
	position: absolute;
	top: 70px;
	left: 180px;
}

.work__btn {
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 145px;
	max-width: 165px;
	padding: 15px;
	border: 1px solid #ffbb42;
	border-radius: 2px;
	background-color: #ffbb42;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.work__btn a{
	color: #fff;
	text-decoration: none;
}

/*clients*/

.clients__header {
	text-align: center;
	margin-bottom: 40px;
}

.clients__title {
	color: #fff;
	font-family: 'Gotham', sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 5px;
}

.clients__text {
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
}

.clients {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.clients__item {
	margin-top: 20px;
	padding: 30px 32px 32px 30px ;
	display: flex;
	width: 48.5%;
	background-color: #fff;
}

.clients__img {
	display: block;
	margin-right: 30px;
	align-self: center;
}

.clients__review {
	
}

.review__text {
	font-family: 'Myriad-Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #7b7b7b;
}

.review__autor {
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #99a9ae;
}

.review__autor span {
	color: #f6772c;

}

/*Newsletter*/

.newsletter__header {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 35px;
}

.newsletter__title {
	font-family: 'Gotham', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #394b50;
	text-transform: uppercase;
	line-height: 22px;
	margin-bottom: 10px;
}

.newsletter__text {
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 22px;
	color: #75888d;
}

.newsletter__contact {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	margin-bottom: 50px;
	padding: 0 118px;
}

.newsletter__name {
	width: 36%;
	height: 45px;
	padding: 15px 40px;
	border: 1px solid #cbcbcb;
	border-radius: 2px;
	font-size: 13px;
	color: #a9a9a9;
	background: url("../assets/images/boost/1.png") no-repeat left;
	background-position-x: 15px;
	background-color: #fff;
}

.newsletter__email {
	width: 42%;
	height: 45px;
	padding: 15px 40px;
	border: 1px solid #cbcbcb;
	border-radius: 2px;
	font-size: 13px;
	color: #a9a9a9;
	background: url("../assets/images/boost/2.png") no-repeat left;
	background-position-x: 15px;
	background-color: #fff;
}

.newsletter__btn {
	width: 20%;
	height: 45px;
	padding: 15px 40px;
	border: 1px solid #ffbb42;
	border-radius: 2px;
	font-size: 13px;
	color: #fff;
	background-color: #ffbb42;
}

.address {
	background: url("../assets/images/newsletter/newsletter-bg.jpg") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 610px;
	position: relative;
	margin-bottom: 60px;
}

.address__circle {
	width: 280px;
	height: 280px;
	background-color: #394b50;
	border-radius: 200px;
	text-align: center;
	position: absolute;
	top: 40px;
	left: 444px;
}

.address__circle h3 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}

.address__circle p {
	color: #aeb7ba;
	font-family: 'Myriad-Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.address__circle span {
	color: #ffbb42;
	font-family: 'Myriad-Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.address img {
	position: absolute;
	left: 560px;
	top: 330px;
}

.address__line {
	width: 100%;
	height: 2px;
	background-color: #e3e7ec;
}

.footer {
	padding-top: 65px;
}

.footer__nav {
	color: #394b50;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

.footer__nav a {
	text-decoration: none;
	margin-right: 35px;
	color: #394b50;
}

.footer__tel {
	text-align: center;
	margin-bottom: 22px;
}

.footer__tel span {
	color: #394b50;
	font-family: 'Lato', sans-serif;
	font-size: 22.5px;
	line-height: 24px;
}

.footer__social {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.footer__social img {
	align-self: center;
	margin-right: 17px;
	vertical-align: center;
}

.footer__author {
	padding: 15px 0;
	width: 100%;
	height: 45px;
	background-color: #709dca;
	text-align: center;
}

.footer__author p {
	font-family: 'Myriad-Pro', sans-serif;
	font-weight: 400;font-size: 15px;
	line-height: 24px;
	color: #fff;
}








